{% load static %} 
    <div class="brands-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="brand-wrapper">
                        <div class="brand-list">
                            <img src="{% static 'img/2810_Lenovo.jpg' %}" alt="">
                            <img src="{% static 'img/2810_LogoAcer.jpg' %}" alt="">
                            <img src="{% static 'img/2810_LogoAsus.jpg' %}" alt="">
                            <img src="{% static 'img/2810_LogoDell.jpg' %}" alt="">
                            <img src="{% static 'img/2810_logoMSI.jpg' %}" alt="">
                            <img src="{% static 'img/2810_LogoHP.jpg' %}" alt="">
                            <img src="{% static 'img/2810_LogoLogitech.jpg' %}" alt="">
                            <img src="{% static 'img/2810_logoWD.jpg' %}" alt="">                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End brands area -->