{% load static %}
<div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="section-title">TOP LAPTOP NỔI BẬT</h2>
                        <div class="product-carousel">
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="{% static 'img/dell_inspiron01.jpg' %}" alt="">
                                    <div class="product-hover">
                                        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i>Cho vào giỏ</a>
                                        <a href="products.html" class="view-details-link"><i class="fa fa-link"></i>Xem chi tiết</a>
                                    </div>
                                </div>
                                
                                <h2><a href="products.html">Laptop Dell Inspiron 3505 Y1N1T3</a></h2>
                                
                                <div class="product-carousel-price">
                                    <ins>14.790.000 VNĐ</ins> <del>16.490.000 VNĐ</del>
                                </div> 
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="{% static 'img/laptop_lg_gram.jpg' %}" alt="">
                                    <div class="product-hover">
                                        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i>Cho vào giỏ</a>
                                        <a href="products.html" class="view-details-link"><i class="fa fa-link"></i>Xem chi tiết</a>
                                    </div>
                                </div>
                                
                                <h2>Laptop LG Gram 2021 14ZD90P-G.AX51A5</h2>
                                <div class="product-carousel-price">
                                    <ins>33.690.000 VNĐ</ins> <del>34.900.000 VNĐ</del>
                                </div> 
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="{% static 'img/laptop_msi_katana.jpg' %}" alt="">
                                    <div class="product-hover">
                                        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i>Cho vào giỏ</a>
                                        <a href="products.html" class="view-details-link"><i class="fa fa-link"></i>Xem chi tiết</a>
                                    </div>
                                </div>
                                
                                <h2>Laptop MSI Katana GF76 11UC 096VN</h2>

                                <div class="product-carousel-price">
                                    <ins>28.590.000 VNĐ</ins> <del>29.990.000 VNĐ</del>
                                </div>                                 
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="{% static 'img/20450_laptop_asus_zenbook_13_ux325ea_kg363t_000.jpg' %}" alt="">
                                    <div class="product-hover">
                                        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i>Cho vào giỏ</a>
                                        <a href="products.html" class="view-details-link"><i class="fa fa-link"></i>Xem chi tiết</a>
                                    </div>
                                </div>
                                
                                <h2><a href="productdetail.html">Laptop Asus ZenBook 13 UX325EA-KG363T</a></h2>

                                <div class="product-carousel-price">
                                    <ins>	23.390.000 VNĐ</ins> <del>24.290.000 VNĐ</del>
                                </div>                            
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="{% static 'img/20704_laptop_acer_gaming_nitro_5_eagle_an515_57_720a_nh_qeqsv_004_1.jpg' %}" alt="">
                                    <div class="product-hover">
                                        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i>Cho vào giỏ</a>
                                        <a href="products.html" class="view-details-link"><i class="fa fa-link"></i>Xem chi tiết</a>
                                    </div>
                                </div>
                                
                                <h2>Laptop Gaming Acer Nitro 5 Eagle AN515-57-720A NH.QEQSV.004</h2>

                                <div class="product-carousel-price">
                                    <ins>29.890.000 VNĐ</ins> <del>30.490.000 VNĐ</del>
                                </div>                                 
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="{% static 'img/laptop-asus-tuf-gaming-fa506qm-hn016t-1_2-ksp.jpg' %}" alt="">
                                    <div class="product-hover">
                                        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i>Cho vào giỏ</a>
                                        <a href="products.html" class="view-details-link"><i class="fa fa-link"></i>Xem chi tiết</a>
                                    </div>
                                </div>
                                
                                <h2><a href="products.html">Laptop ASUS TUF Gaming FA506QR-AZ003T</a></h2>

                                <div class="product-carousel-price">
                                    <ins>36.990.000 VNĐ</ins> <del>40.990.000 VNĐ</del>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->