{% load static %} 
    <div class="promo-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo1">
                        <i class="fa fa-refresh"></i>
                        <p>ĐỔI VÀ TRẢ HÀNG</p>
                        <p>Thời gian đỗi trả lên đến 30 ngày</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo2">
                        <i class="fa fa-truck"></i>
                        <p>VẬN CHUYỂN & LẮP ĐẶT FREE</p>
                        <p>Miễn phí vận chuyển 20km (*)</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo3">
                        <i class="fa fa-credit-card"></i>
                        <p>THANH TOÁN TIỆN LỢI</p>
                        <p>Trả tiền mặt, CK, trả góp 0%</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo4">
                        <i class="fa fa-gift"></i>
                        <p>HỖ TRỢ NHIỆT TÌNH</p>
                        <p>Tư vấn, giải đáp mọi thắc mắc</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End promo area -->
    