{% load static %}
<div class="slider-area">
        	<!-- Slider -->
			<div class="block-slider block-slider5">
				<ul class="" id="bxslider-home4">
					<li>
						<img src="{% static 'img/dm02.jpg' %}" alt="Slide">					
					</li>
					<li><img src="{% static 'img/dm03.jpg' %}" alt="Slide">
					</li>
					<li><img src="{% static 'img/dm04.jpg' %}" alt="Slide">
					</li>
					<li><img src="{% static 'img/dm05.jpg' %}" alt="Slide">						
					</li>
					<li><img src="{% static 'img/dm06.jpg' %}" alt="Slide">						
					</li>
				</ul>
			</div>
			<!-- ./Slider -->
    </div> <!-- End slider area -->
    